@import "./variables.scss";

body {
  background-image: url("./assets/img/background.jpg");

  .natshop {
    text-align: center;

    .header {
      text-align: center;
    }

    .collection-name {
      font-family: 'Marck Script', cursive;
      margin: 20px 0;
      font-size: 30px;
    }
    .divider {
      width: 50%;
      margin: 20px auto;
      border-bottom: 1px solid $middle-green;
      box-shadow: 3px 2px 0px 0px white;
    }

    header, section {
      text-align: center;
    }
    section {
      margin-top: 100px;
      margin: 100px 10px;

      @media (min-width: 1024px) {
        max-width: 1400px;
        margin: 100px auto;
      }

      .items-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}
