@import-normalize;
@import "./variables.scss";

body {
  background-image: url("./assets/img/background.jpg");

  .natshop {
    text-align: center;

    .header {
      text-align: center;

      .icon-wrapper {

        .cart-items-indicator, .cart-likes-indicator {
          position: relative;
          top: -25px;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }

        .cart-likes-indicator {
          top: -23px;
        }

        &:hover {
          .glyphicon {
            color: $middle-green;
          }
        }
      }
    }

    .collection-name {
      font-family: 'Marck Script', cursive;
      margin: 20px 0;
      font-size: 30px;
    }
    .divider {
      width: 50%;
      margin: 20px auto;
      border-bottom: 1px solid $middle-green;
      box-shadow: 3px 2px 0px 0px white;
    }

    header, section {
      text-align: center;
    }
    section {
      margin: 100px auto;
    }
  }
}
